.footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: black;
    color: white;
    border-top: 2px solid #333;
    text-align: center;
}

.footer .desenvolvedor {
    list-style: none;
    padding: 0;
}

.footer .desenvolvedor ol {
    list-style: none;
    padding: 10px 0;
    font-size: 0.95rem;
}

.footer .desenvolvedor a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
}

.footer .desenvolvedor a:hover {
    color: #aaa;
    text-decoration: underline;
}

.footer .desenvolvedor p {
    font-size: 0.95rem;
    color: #aaa;
}